In [1]:
import torch 
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
from collections import Counter

import numpy as np
torch.__version__

'1.6.0+cpu'

In [16]:
data_path = '../data/'
label_train_data_path = '../data/train/labeled_data.csv'
unlabel_train_data_path = '../data/train/unlabeled_data.csv'
test_data_path = '../data/test_data.csv'
orgin_train_data = pd.read_csv(label_train_data_path)  # 原始的train_data
test_data = pd.read_csv(test_data_path) # 原始的test_data
unlabeled_data = pd.read_csv(unlabel_train_data_path) # 原始的unlabeled_data
labels = ['财经',"教育","房产","娱乐","游戏","体育","时尚","科技","时政","家居"]

# 数据抽取部分
def juge(x):
    type_dict={
    "财经":["财经","期货","市场","股票"],
    "房产":["房产","房子"],
    "家居":["家居","电器"],
    "教育":["教育","学生"],
    "科技":["科技","手机"],
    "时尚":["时尚","明星"],
    "时政":["时政"],
    "游戏":["游戏","攻击","装备"],
    "娱乐":["主演","演员","综艺","音乐","真人秀"],
    "体育":["体育","锦标赛","田径","跳远","世锦赛"],
    }    
    keywords = []  # 遍历上面的字典，存储关键词到keywords中
    for e in type_dict:
        keywords.extend(type_dict[e])
        
    for type1 in type_dict: # 对于每个类别
        for type1_sub in type_dict[type1]:  # 对于每个类别下的关键词
            if type1_sub in x :  # 如果这个词在x中出现
                for other in keywords: # 其他词不在x中出现
                    if other in x and (not other in type_dict[type1]):
                        return "未知"
                return type1
    return "未知"

In [17]:
from sklearn.metrics import accuracy_score
orgin_train_data['pre_labels'] = orgin_train_data['content'].apply(lambda x:juge(x))
orgin_train_data.head()
for label in labels:
    tmp_data = orgin_train_data[orgin_train_data["pre_labels"]==label]
    # 计算准确率
    print(label,accuracy_score(tmp_data["pre_labels"],tmp_data["class_label"]))

财经 0.6329113924050633
教育 0.6037463976945245
房产 0.6105263157894737
娱乐 0.0
游戏 0.0
体育 0.0
时尚 0.8645533141210374
科技 0.7006472491909385
时政 1.0
家居 0.8210526315789474

In [21]:
# 打标数据
unlabeled_data["class_label"] = unlabeled_data["content"].apply(lambda x:juge(x)) # 直接用class_label 忽略噪声
unlabeled_data = unlabeled_data[unlabeled_data['class_label']!="未知"]
unlabeled_data = pd.concat([unlabeled_data[unlabeled_data['class_label']=="游戏"],
                            unlabeled_data[unlabeled_data['class_label']=="娱乐"],
                            unlabeled_data[unlabeled_data['class_label']=="体育"]])
unlabeled_data["class_label"].value_counts()

游戏    2952
娱乐    2176
体育     949
Name: class_label, dtype: int64

In [23]:
# 随机截取
game = unlabeled_data[unlabeled_data['class_label']=="游戏"].sample(n=1000)
tiyu = unlabeled_data[unlabeled_data['class_label']=="体育"]
yule = unlabeled_data[unlabeled_data['class_label']=="娱乐"].sample(n=1000)
unlabeled_data = pd.concat([game,tiyu,yule])
unlabeled_data

          id                                            content class_label
21226  21226  山海镜花游戏中的聆训阁是玩家们都会遇到的一个关卡，这个关卡难度还是比较大的。老玩家可能有自己...          游戏
16086  16086  近日，一支网友自制的蜘蛛侠涂鸦视频在全网热传，为复活归来的蜘蛛侠打气助阵，引发影迷的强烈共鸣...          游戏
20664  20664  明日方舟的春节活动已经新年出炉了，这次的活动福利可以说是空前的强大啊，这次登录直接送的就是十...          游戏
332      332  王者模拟战开始了最新版版本的更新，在这个版本中射手的体系得到了前所未有的加强，所以这里给大家...          游戏
14261  14261  召唤与合成中，玩家对于装备的强化都是会做一个垫刀的，不少玩家都是非常喜欢垫刀这个做法，就是先...          游戏
...      ...                                                ...         ...
9675    9675  由薛晓路执导，汤唯、雷佳音领衔主演的华语首部“吹哨人”题材电影《吹哨人》将于12月6日全国上...          娱乐
30917  30917  在影视剧中，三角恋向来是不可或缺的元素，而那些经典的三角恋也曾带给观众们很多美好的记忆，比如...          娱乐
6198    6198  由连奕名执导，张佳宁搭档于和伟、胡静、王耀庆等领衔主演的全景检察社会剧《决胜法庭》正在热播。...          娱乐
18656  18656  悬疑电影《急速逃脱》今日发布先导预告和先导海报，并宣布将于10月12日全国上映。影片由克利斯...          娱乐
5985    5985  由日本文化厅和中国电影资料馆、北京电影学院共同主办的日本电影周，将于2017年11月25日至...          娱乐

[2949 rows x 3 columns]

In [24]:
# 保存数据
all_data_train = pd.concat([unlabeled_data,orgin_train_data],axis=0).drop(labels='pre_labels',axis=1)
print(all_data_train["class_label"].value_counts())
all_data_train.to_csv("../data/all_data_train_selected1000_加规则.csv",index=False,encoding='utf-8',header=None)

娱乐    1000
时政    1000
教育    1000
游戏    1000
科技    1000
财经    1000
时尚    1000
房产    1000
家居    1000
体育     949
Name: class_label, dtype: int64

In [3]:
%%time
stop_word_list = []
with open('../data/hit_stopwords.txt','r',encoding='utf-8') as f:
    for line in f.readlines():
        stop_word_list.append(line.strip())
import jieba
def delete_stopwords(x):
    tokens = jieba.lcut(x.strip()) #list
    cleaned_str = ""
    for token in tokens:
        token = token.replace('\u3000',"").replace("\xad","").replace("\xa0","").replace("\t","").replace("\u2003","")
        if token=="":
            continue
        if token in stop_word_list:
            continue
        else:
            cleaned_str += " "+token
    return cleaned_str
orgin_train_data['deleted_stopwords'] = orgin_train_data['content'].apply(lambda x : delete_stopwords(x))
orgin_train_data.head()

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\12053\AppData\Local\Temp\jieba.cache
Loading model cost 0.763 seconds.
Prefix dict has been built successfully.

Wall time: 1min 37s

,id,class_label,content,deleted_stopwords
0,0,教育,人民网北京8月31日电（孙竞）日前，为进一步规范高等学校命名工作，依据相关法律法规规定，结合...,人民网 北京 8 月 31 日电 孙竞 日前 进一步 规范 高等学校 命名 工作 依据 相...
1,1,家居,又是一年落叶黄，一阵秋雨一阵凉；整日奔波工作忙，出门别忘添衣裳。金秋时节，正值装修旺季，集美...,一年 落叶 黄 一阵 秋雨 一阵 凉 整日 奔波 工作 忙 出门 别忘添 衣裳 金秋 时节...
2,2,教育,作者：祝安顺（深圳大学饶宗颐文化研究院编审、副教授） 越来越多的名校毕业生入职教师行业，吸...,作者 祝 安顺 深圳大学 饶宗 颐 文化 研究院 编审 副教授 越来越 名校 毕业生 入职...
3,3,时尚,虽然此前其有过与品牌如Madawell的合作系列，但这回她确认将推出自己名下的服装系列。在最...,此前 其有 品牌 Madawell 合作 系列 这回 确认 推出 名下 服装 系列 最近 ...
4,4,教育,眼下，虽然疫情依然严峻，但我国大中小学都已陆续开学，疫情防控进入常态化，学生校园生活回归正常...,眼下 疫情 依然 严峻 我国 大中小学 都 已 陆续 开学 疫情 防控 进入 常态 化 学...

In [1]:
sub_class = "时政"
topN = 50
for sub_class in labels:
    print(sub_class)
    tmp_df = orgin_train_data[orgin_train_data["class_label"]==sub_class]
    all_tokens = " ".join(tmp_df["deleted_stopwords"].values.tolist())
    word_Counter = Counter(all_tokens.split(" "))
    for item in sorted(word_Counter.items(),key=lambda x:x[1],reverse=True)[:topN]:
        if len(item[0])>1:
            print(item[0],end=" ")
    print("\n")

NameError: name 'labels' is not defined

In [6]:
type_dict={
"财经":["财经","经济","期货","市场","股票"],
"房产":["房产","房子"],
"家居":["家居","电器"],
"教育":["教育","学生"],
"科技":["科技","手机"],
"时尚":["时尚","明星"],
"时政":["时政","新闻","改革","组织","加强","干部","制度","中央"],
"游戏":["游戏","攻击","装备"],
"娱乐":["娱乐","主演","演员","综艺","音乐","真人秀"],
"体育":["体育","锦标赛","田径","跳远","世锦赛"],
}

In [24]:
orgin_train_data['deleted_stopwords'].tolist()[0]

' 人民网 北京 8 月 31 日电 孙竞 日前 进一步 规范 高等学校 命名 工作 依据 相关 法律法规 规定 结合 高校 设置 工作 实际 教育部 研究 制定 高等学校 命名 暂行办法 正式 印发 暂行办法 适用 发布 之后 全日制 大学 独立设置 学院 高等职业 学校 含 本科 层次 职业 学校 专科 层次 职业 学校 高等 专科学校 命名 事项 暂行办法 强调 高等学校 命名 坚持 名实相符 准确 规范 体现 办学 理念 突出 内涵 特色 避免 贪大求全 人才培养 目标 办学 层次 规模 类型 学科 类别 教学科研 水平 隶属 关系 所在地 确定 名称 实行 一校 一名 制 暂行办法 高等学校 名称 中 使用 地域 字 段 学科 行业 字 段 英文 译名 提出 明确 规范 不得 冠以 代表 中国 世界 惯用 字样 大区 大区 变体 字样 不得 冠以 学校 所在城市 以外 域名 省级 人民政府 举办 学校 使用 省域 命名 学校 确需 使用 省域 命名 省级 人民政府 统筹 把关 但须 名称 中 明确 学校 所在地 未经 授权 不得 使用 组织 个人 拥有 商标 字号 名称 不得 使用 国外 高校 中文 译名 简称 农林 师范院校 合并 调整 时 原则上 继续 保留 农林 师范 名称 避免出现 多个 学科 行业类别 并存 现象 原则上 不 超过 2 使用 相同 学科 行业 字段 时 省域 范围 内应 具有 区分度 英文 译名 中文名称 保持一致 学校 中文名称 中 含有 特殊 含义 字 段 使用 音译 暂行办法 强调 高等学校 名称 原则上 不得 个人 姓名 命名 未经 授权 不得 使用 高等学校 曾 使用 名称 独立 学院 转设 独立设置 学校 名称 中 不得 包含 原 举办 学校名称 简称 高等学校 应 保持 名称 稳定 原则上 层次 更名 间隔期 至少 10 年 责编 田媛'

In [4]:
from sklearn.feature_extraction.text import TfidfTransformer  
from sklearn.feature_extraction.text import CountVectorizer 
vectorizer=CountVectorizer()#该类会将文本中的词语转换为词频矩阵，矩阵元素a[i][j] 表示j词在i类文本下的词频  
transformer=TfidfTransformer()#该类会统计每个词语的tf-idf权值  
tfidf=transformer.fit_transform(vectorizer.fit_transform(orgin_train_data['deleted_stopwords'].tolist()))#第一个fit_transform是计算tf-idf，第二个fit_transform是将文本转为词频矩阵  
word=vectorizer.get_feature_names()#获取词袋模型中的所有词语
weight=tfidf.toarray()#将tf-idf矩阵抽取出来，元素a[i][j]表示j词在i类文本中的tf-idf权重

In [ ]:
tfidf_list = []
for i in range(len(weight)):#打印每类文本的tf-idf词语权重，第一个for遍历所有文本，第二个for便利某一类文本下的词语权重  
    sentence_tfidf = {}
    for j in range(len(word)): 
        if weight[i][j] > 0:
            sentence_tfidf[word[j]] = weight[i][j]
#             print(word[j],weight[i][j]) 
    tfidf_list.append(sorted(sentence_tfidf.items(),key=lambda x:x[1],reverse=True))

In [3]:
import torch 

test_data = torch.load('../data/bert_processed_split_windows_test_data_128')

In [13]:
test_data = pd.DataFrame(test_data)
test_data.columns = ["sub_content","label","len","mask","id"]
test_data

,sub_content,label,len,mask,id
0,"[101, 1187, 680, 6823, 2519, 704, 4638, 6837, ...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
1,"[101, 2523, 1962, 4500, 4638, 691, 6205, 125, ...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
2,"[101, 4289, 3198, 2902, 6821, 702, 2961, 1399,...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
3,"[101, 2769, 2456, 6379, 6848, 2885, 3249, 6858...",-1,21,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
4,"[101, 5294, 5276, 2225, 1046, 3172, 7339, 6818...",-1,123,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1
...,...,...,...,...,...
170529,"[101, 1394, 868, 2972, 1139, 8024, 5440, 4495,...",-1,85,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",19998
170530,"[101, 1187, 680, 6823, 2519, 704, 3300, 4708, ...",-1,127,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",19999
170531,"[101, 1221, 8024, 6783, 1139, 4696, 4638, 2523...",-1,122,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",19999
170532,"[101, 5543, 8024, 4696, 4638, 3221, 3187, 5459...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",19999
170533,"[101, 3297, 7270, 511, 6820, 3300, 671, 702, 7...",-1,52,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",19999

In [14]:
preds = np.load('../sub/bert_preds.npy')
pre_df = pd.DataFrame(preds)
pre_df.columns = ["pred_"+str(i) for i in range(10)]
pre_df

,pred_0,pred_1,pred_2,pred_3,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9
0,0.000173,0.000590,0.000353,0.010884,0.984537,0.000961,0.000730,0.001142,0.000293,0.000338
1,0.000246,0.000834,0.000599,0.012740,0.981150,0.000909,0.001148,0.001458,0.000370,0.000546
2,0.000222,0.001118,0.000878,0.020109,0.967669,0.004975,0.001146,0.002675,0.000355,0.000853
3,0.000218,0.000798,0.000501,0.010830,0.981253,0.001365,0.001574,0.002768,0.000272,0.000421
4,0.002007,0.004075,0.001372,0.030476,0.200616,0.751394,0.003861,0.003777,0.001655,0.000767
...,...,...,...,...,...,...,...,...,...,...
170529,0.001086,0.986323,0.000705,0.002062,0.000528,0.002079,0.000301,0.000269,0.005975,0.000673
170530,0.000171,0.000588,0.000426,0.011918,0.983593,0.000888,0.000615,0.001262,0.000231,0.000308
170531,0.000192,0.001042,0.000848,0.016625,0.976137,0.001613,0.001075,0.001593,0.000359,0.000518
170532,0.000213,0.001080,0.000939,0.030318,0.960378,0.002912,0.001445,0.001570,0.000467,0.000678
170533,0.000217,0.000900,0.000626,0.019660,0.972379,0.001738,0.001666,0.001926,0.000402,0.000487

In [28]:
sum_df = pd.concat([test_data,pre_df],axis=1)
sum_df.head(10)

,sub_content,label,len,mask,id,pred_0,pred_1,pred_2,pred_3,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9
0,"[101, 1187, 680, 6823, 2519, 704, 4638, 6837, ...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,0.000173,0.000590,0.000353,0.010884,0.984537,0.000961,0.000730,0.001142,0.000293,0.000338
1,"[101, 2523, 1962, 4500, 4638, 691, 6205, 125, ...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,0.000246,0.000834,0.000599,0.012740,0.981150,0.000909,0.001148,0.001458,0.000370,0.000546
2,"[101, 4289, 3198, 2902, 6821, 702, 2961, 1399,...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,0.000222,0.001118,0.000878,0.020109,0.967669,0.004975,0.001146,0.002675,0.000355,0.000853
3,"[101, 2769, 2456, 6379, 6848, 2885, 3249, 6858...",-1,21,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0,0.000218,0.000798,0.000501,0.010830,0.981253,0.001365,0.001574,0.002768,0.000272,0.000421
4,"[101, 5294, 5276, 2225, 1046, 3172, 7339, 6818...",-1,123,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.002007,0.004075,0.001372,0.030476,0.200616,0.751394,0.003861,0.003777,0.001655,0.000767
5,"[101, 3198, 952, 8024, 800, 6158, 818, 1462, 7...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.002290,0.006802,0.003041,0.101771,0.158697,0.702978,0.016442,0.004295,0.002388,0.001296
6,"[101, 1914, 1184, 1059, 3209, 3215, 8024, 3300...",-1,122,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.001511,0.004433,0.002572,0.064286,0.226808,0.684329,0.007623,0.005639,0.001615,0.001184
7,"[101, 6963, 1762, 5507, 1849, 1825, 2336, 2972...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.005171,0.007720,0.002710,0.065850,0.220156,0.680844,0.008872,0.004979,0.002661,0.001035
8,"[101, 1762, 5023, 2521, 4638, 6887, 6662, 8024...",-1,118,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.002095,0.004396,0.002108,0.041967,0.340151,0.594902,0.005056,0.006605,0.001874,0.000847
9,"[101, 7339, 4638, 3198, 7313, 6134, 8024, 2471...",-1,128,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",1,0.001579,0.002779,0.001213,0.024999,0.093611,0.869069,0.002189,0.001846,0.001696,0.001019

In [40]:
sum_df.drop(['sub_content','label','mask','len'],axis=1,inplace=True)

In [46]:
sum_df = sum_df.groupby('id').sum()

In [47]:
sum_df["class"] = sum_df.apply(lambda x: )

,pred_0,pred_1,pred_2,pred_3,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9
id,,,,,,,,,,
0,0.000858,0.003340,0.002330,0.054563,3.914609,0.008210,0.004598,0.008043,0.001290,0.002158
1,0.016648,0.034418,0.014699,0.352032,1.460816,5.021986,0.047591,0.031239,0.013555,0.007015
2,0.012524,0.005955,0.139187,0.054308,0.029126,0.019415,0.010435,0.014511,0.007233,16.707306
3,0.187346,0.030535,0.103953,0.134747,0.027389,1.195805,0.023323,0.018609,0.117431,9.160862
4,0.000370,0.001254,0.000847,0.020031,1.970019,0.001746,0.001661,0.002776,0.000555,0.000741
...,...,...,...,...,...,...,...,...,...,...
19995,0.041534,6.208270,4.366441,0.606884,0.104536,0.963136,0.026902,0.026038,0.609474,0.046786
19996,19.081236,0.198851,1.466210,0.373293,0.104746,0.090087,0.011726,0.190151,0.085757,0.397944
19997,0.007320,0.003201,0.002286,0.021125,0.023092,4.923930,0.010697,0.002409,0.003277,0.002663
19998,0.003977,3.944163,0.002883,0.008390,0.002594,0.012642,0.001202,0.000932,0.020171,0.003045
19999,0.000792,0.003609,0.002839,0.078521,3.892487,0.007150,0.004801,0.006351,0.001459,0.001991

In [53]:
preds = np.argmax(sum_df.values, axis=1)

In [54]:

PAD, CLS = '[PAD]', '[CLS]'  # padding符号, bert中综合信息符号
label_map = {'财经': 0, '教育': 1, '房产': 2, '娱乐': 3, '游戏': 4,
             '体育': 5, '时尚': 6, '科技': 7, '时政': 8, '家居': 9}
label_map_rev = {v: k for k, v in label_map.items()}
result = [label_map_rev[i] for i in list(preds)]

In [59]:
sub = pd.concat([test_data, result], axis=1)
sub.columns = ['id', 'content', 'class_label']
sub.drop(labels='content', axis=1, inplace=True)
sub['rank_label'] = sub['class_label'].apply(lambda x: classify_level(x))

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [58]:
test_data = pd.read_csv('../data/test_data.csv')